<!-- 
    <h2>Product List</h2>
<ul>
    <input appNumeric />
    <li *ngFor="let product of products|sort;let i = index" (click)="selectedProduct = product">        
        <app-product-view [id]="i"></app-product-view>
    </li>
</ul>
<h3>Offers</h3>
<ng-template appProductHost></ng-template>

<app-product-detail 
*ngIf="selectedProduct; else noProduct"
[product]="selectedProduct" 
(bought)="onBuy($event)"></app-product-detail>

<ng-template #noProduct>
    <p>No Product selected!</p>
</ng-template>

<h2>favories</h2>
<app-favorites></app-favorites>-->