<!--
<hr>
<h2>ngDoCheck</h2>
<app-do-check-demo></app-do-check-demo>
<app-header [title]="title"></app-header>
<div>
    Header clicks: {{ headerClicks }}
 </div>

 <div>Header clicks: {{ headerClicks }}</div>
 <div>Footer clicks: {{ footerClicks }}</div>    

<app-footer title="My Footer" (titleClick)="onHeaderClicked($event)"></app-footer>
-->

<!--
<app-component-a></app-component-a>
<hr>
<app-component-b></app-component-b>
<hr>
<app-component-c></app-component-c>
-->

<!--
<h2>Host events:</h2>
<app-host-events></app-host-events>
-->

<app-list>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
</app-list>